:root{
    --gold: #D6AD60;
    --cream: #F4EBD0;
    --charcoal: #122620;
    --gelo:#D8CFC2;
}

* {
    color: var(--fontColor);
    font-family: sans-serif;
}

body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
.light-theme {
    --bg: var(--gold);
    --fontcolor: var(--charcoalk);
}

.dark-theme {
    --bg: var(--charcoal);
    --fontColor: var(--gold);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }

.light-theme {
    --bg: var(--gold);
    --fontColor: var(--charcoalck);
    --btnBg: var(--charcoal);
    --btnFontColor: var(--gelo);
}

.dark-theme {
    --bg: var(--charcoal);
    --fontColor: var(--gold);
    --btnBg: var(--gold);
    --btnFontColor: var(--charcoal)
}
